# Reading from .csv files

In [1]:
import csv

In [2]:
with open('csv.txt' , 'r') as file:

    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', ' age', ' fav_hobby']
['ben', ' 24', ' golf']
['susan', ' 30', ' tennis']
['mike', ' 52', ' hiking']
['julie', ' 36', ' swimming']

In [3]:
FILE_PATH = 'csv.txt' 

class Hobby:
    HAS_HEADERS = True
    NAME_COL = 0
    AGE_COL = 1
    FAV_HOBBY_COL = 2

with open(FILE_PATH, 'r') as file:

    reader = csv.reader(file)
    headers = []
    if Hobby.HAS_HEADERS:
        headers = next(reader)
    for row in reader:
        if row and len(row) > Hobby.FAV_HOBBY_COL:
            name = row[Hobby.NAME_COL]
            age = int(row[Hobby.AGE_COL])

            if age >= 20 and age <= 30:
                print('{} is {} years old.'.format(name, age))

ben is 24 years old.
susan is 30 years old.

# Writing to .csv files

In [5]:
import csv

headers = ['student_name', 'age', 'fav_subject']

rows = [
    ['Harry', 20, 'Maths'],
    ['Kim', 27, 'English'],
    ['Dave', 36, 'Biology']
]

with open('school_csv', 'w', newline='') as file:

    writer = csv.writer(file)
    writer.writerow(headers)
    writer.writerows(rows)

In [6]:
mydict = [
    {'region': 'England', 'name': 'Fruit Store', 'sales': 1000 },
    {'region': 'Scotland', 'name': 'Electronics', 'sales': 50000 },
    {'region': 'England', 'name': 'Card Store', 'sales': 5000 },
    {'region': 'Ireland', 'name': 'Sports Store', 'sales': 15000 }
]

fields = ['region', 'name', 'sales']

with open('shop_csv', 'w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames = fields)
    writer.writeheader()
    writer.writerows(mydict)

In [7]:
import pandas as pd
data =pd.read_csv('shop_csv')

In [8]:
data.head()

     region          name  sales
0   England   Fruit Store   1000
1  Scotland   Electronics  50000
2   England    Card Store   5000
3   Ireland  Sports Store  15000

In [9]:
data['sales'].sum()

np.int64(71000)

In [10]:
df = pd.DataFrame([['James', 34], ['Jane', 51]], columns = ['name', 'age'])
df.to_csv('people.csv')

In [11]:
data = pd.read_csv('people.csv', usecols = ['name','age'])

In [12]:
data.head()

    name  age
0  James   34
1   Jane   51

# Working with PDF files

In [15]:
!pip install pyPDF2

Defaulting to user installation because normal site-packages is not writeable
Collecting pyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl.metadata (6.8 kB)
Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
Installing collected packages: pyPDF2
Successfully installed pyPDF2-3.0.1

In [18]:
import pyPDF2

ModuleNotFoundError: No module named 'pyPDF2'

In [19]:
pdfFileObj = open()

TypeError: open() missing 1 required positional argument: 'file'

In [20]:
import sys
print(sys.executable)

/opt/anaconda/bin/python