In [13]:
import dash
from dash import html
from dash import dcc
import dash_bootstrap_components as dbc
from dash.dependencies import Output, Input

import plotly.express as px
import plotly.graph_objects as graph_objects


gapminder = px.data.gapminder()
gapminder.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [26]:
fig = graph_objects.Figure()
fig.add_scatter(x=[1,2,3,4,5], y=[2,3,4,5,6])
fig.add_scatter(x=[6,5,4,3,2], y=[7,3,5,4,6])
fig.layout.title = 'Our first Figure Object'
fig.layout.xaxis.title = 'X-axis' 
fig.layout.yaxis.title = 'Y-axis'

In [2]:
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

In [3]:
country = gapminder['country'].unique()

In [4]:
app.layout = html.Div([
    dcc.Dropdown(
        id='country_dropdown',
        options=[{'label': c, 'value': c} for c in country],   #list comprehension 
        placeholder='Select a country',
        clearable=True
    ),
    html.Br(), #HTML line break. 
    html.Div(id='country_output')
])

In [5]:
@app.callback(Output('country_output', 'children'),
              Input('country_dropdown', 'value'))
def display_country(country):
    if not country:
        return ''
    gapminder_filtered = gapminder[(gapminder['country']==country)    
    & (gapminder['year']==2007)]
    le = gapminder_filtered.loc[:, 'lifeExp'].values[0]
    pop = gapminder_filtered.loc[:, 'pop'].values[0]
    return [
        html.H3(country),
        html.P(f'''In {country} the life expectancy in 2007 was {le} 
        and the population was {pop:, }''')
    ]

In [7]:
if __name__ == '__main__':
    app.run(mode='inline')

[2025-11-09 18:29:47,118] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/flask/app.py", line 1511, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/flask/app.py", line 919, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/flask/app.py", line 917, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/flask/app.py", line 902, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/dash/dash.py", line 1494, in dispatch
    response_data = ctx.run(partial_func)
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/dash/_callback.py", line 688, in add_context
    raise err
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/dash/_callback.py", line 679, in add_context
    output_value = _invoke_callback(func, *func_args, **func_kwargs)  # type: ignore[reportArgumentType]
  File "/home/jasper/Python/devopslearn/python-tutorialspoint/python/dash_app/lib/python3.13/site-packages/dash/_callback.py", line 59, in _invoke_callback
    return func(*args, **kwargs)  # %% callback invoked %%
  File "/tmp/ipykernel_3904/1203695591.py", line 13, in display_country
    and the population was {pop:, }''')
                           ^^^^^^^^
ValueError: Cannot specify ',' with '\x20'.