In [7]:
alphabet = 'abcdefgh'
index_count = 0
for letter in alphabet:
    print("Index {} is the letter {}".format(index_count, letter))
    index_count += 1

Index 0 is the letter a
Index 1 is the letter b
Index 2 is the letter c
Index 3 is the letter d
Index 4 is the letter e
Index 5 is the letter f
Index 6 is the letter g
Index 7 is the letter h

In [8]:
for letter in enumerate(alphabet):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [9]:
my_dict = {}
for letter in enumerate(alphabet):
    my_dict[letter[0]] = letter[1]

In [10]:
my_dict

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h'}

# List comprehension
Create a list of even numbers from 0 to 20 using a FOR loop

In [11]:
evens = []
for x in range(11):
    evens.append(x*2)
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of even numbers from 0 to 20 using list comprehension

In [12]:
evens = [(x*2) for x in range(11)]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of even numbers from 0 to 20, excluding the numbers that are divisable by 6, using list comprehension

In [13]:
evens = [(x * 2 ) for x in range(11) if x *2 % 6 != 0]
evens

[2, 4, 8, 10, 14, 16, 20]

# Dictionary & set comprehension

In [14]:
squares = {} 
for x in range(6):
    squares[x] = x * x
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
squares = {x: x*x for x in range(6)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [20]:
even_squares = {x: x*x for x in range(11) if x*x % 2 == 0}
even_squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [21]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
new_set = set()

for x in my_set:
    new_set.add(x*x)
print("my_set contains {}".format(my_set))
print("new_set contains {}".format(new_set))

my_set contains {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
new_set contains {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [22]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
new_set = {x *x for x in my_set}

print("my_set contains {}".format(my_set))
print("new_set contains {}".format(new_set))

my_set contains {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
new_set contains {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}